.App{
  text-align: center;
}

.nav{
  background: linear-gradient(120deg,rgb(28, 5, 39),purple);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: whitesmoke;
}

.movieItem{
  background: linear-gradient(240deg,brown,yellow);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.movieTable{
  width:60vw;
  height: auto;
  margin: auto;
  outline: none;
  border: none;
}

table,th,td{
  outline: none;
  width: 100%;
  height: 100%;
  border: 2px solid rgb(46, 2, 9);
}

.addForm{
  width: 50%;
  height: auto;
  margin: 20px auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: rgba(97, 56, 56, 0.658);
}

.addForm input{
  outline: none;
  border: none;
  margin: 20px;
  padding: 10px;
  width: 60%;

}

.addForm button{
  width: 100px;
  margin: 20px;
  height:60px;
  background: rgb(138, 41, 133);
  color: white;
  font-size:18px;
  cursor: pointer;
}